body {
  background-image: url(Images/11406894_950414434990448_2172330119764052978_n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body-content {
  margin-top: 2px;
  background-color: #f8f8f8;
  opacity: 0.9;
}
.navbar {
  background-color: #f8f8f8;
  opacity: 0.9;
  border: none;
  box-shadow: none;
}
.navbar .title-img {
  width: 150px;
  padding: 5px;
}
.navbar li a:hover {
  color: #b82e80;
}
.index {
  padding: 30px;
}
.index .jumbotron {
  color: #b82e80;
  text-shadow: 1px 1px 1px black;
  font-size: 62px;
  background-color: none;
}
